@import "~css/vars";
@import "~Cardinal/base/mixins/to-rem.less";

.blog-post__meta {
  left: 50%;
  width: 200px;
  margin-left: -100px;

  color: @root-text-color;
}

.blog-post header {
  .to-rem(padding-top, @spacing-macro);
}