@import "~css/vars";
@import "~Cardinal/base/mixins/to-rem.less";
@import "~Cardinal/base/mixins/media-queries.less";

.ohs-off-canvas--open .ohs-off-canvas {
  transform: translate3d(0, 0, 0);
  height: auto;
  max-height: 700px;
}

.ohs-off-canvas {
  top: 0;
  max-height: 0;
  -webkit-user-drag: none;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);
  overflow: hidden;
}

.ohs-off-canvas__list {

  .screen-lg-min({
    & > li {
      display: inline;
    }
  })

}