@import "~css/vars";
@import "~Cardinal/base/mixins/to-rem.less";
@import "~Cardinal/base/mixins/clearing.less";


.ohs-global-footer {
  .clearfix();
}

.ohs-global-footer .ohs-logo {
  height: 28px;
  width: 111px;

  &:hover {
    color: @color-blue;
  }
}

.global-footer__content {

  color: @color-gray-light;

  a {
    text-decoration: none;
    color: @color-blue;

    &:hover {
      color:@color-yellow;
    }
  }
}

.global-footer__content > * {
  display: inline-block;
}

.global-footer__content.fr > * {
  margin-left: 20px;
}

.global-footer__content.fl > * {
  margin-right: 20px;
}