* {
    box-sizing: border-box;
}

html {
    font-size: unit(@font-size, px) !important;
    font-weight: 300;

}


article > header {
    background-size: cover;
    background-position: center;
}

label {
    font-weight: @font-weight-medium;
}

.wrapper-full-bleed > img {
    margin: 0 auto;
    display: block;
}

.pt\+\+\+ {
  .to-rem(padding-top, @spacing-base * 5);
  .to-rem(padding-bottom, @spacing-base * 5);
}