* {
    box-sizing: border-box;
}

html {
    font-size: unit(@font-size, px) !important;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: @color-white;
}

img {
    border-radius: unit(@border-radius-base, px);
}


article > header {
    background-size: cover;
    background-position: center;
}

label {
    font-weight: @font-weight-medium;
}

figure {
    .to-rem(margin-bottom, @spacing-base, ~"!important");
}

.wrapper-full-bleed > img {
    margin: 0 auto;
    display: block;
}

.pt\+\+\+ {
  .to-rem(padding-top, @spacing-base * 5);
  .to-rem(padding-bottom, @spacing-base * 5);
}

.grid-item > img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
}

.preload-logo {
    display: none;
}