<ohs-meta-group title="todo page title"
                description="todo page description">
</ohs-meta-group>

<div class="pt+++ pb++ bg--blue home__header">

    <div class="wrapper">

        <h1 view-title class="mv md-mv+ hn">
            UX &amp; Design for broadcasters <br>media organisations
        </h1>

        <p class="fz++ m0">Design stuff &amp; things.</p>

    </div>
</div>

<div class="bg--yellow">
    <div class="wrapper wrapper-full-bleed">
        <div class="grid gutter-half tc ohs-page--home__client-list mh pv-- md-pv">

            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-viacom"></ohs-icon>
            </div>
            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-bbc"></ohs-icon>
            </div>
            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-mtv"></ohs-icon>
            </div>
            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-londonlive"></ohs-icon>
            </div>
            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-itv"></ohs-icon>
            </div>
            <div class="grid-item 1/3 md-1/6 mb- md-m0">
                <ohs-icon name="fill-blinkbox"></ohs-icon>
            </div>

        </div>

    </div>
</div>

<div id="main">

    <div class="pt+">
        <div class="wrapper">
            <h2 class="h3 mt0">What we do</h2>

            <div class="grid">
                <div class="grid-item 1/1 md-2/3 lg-1/2 mb">
                    <p class="md-fz++ fwr hn mb-">
                        User experience (UX) and design services for broadcasters and media organisations.
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="grid-item 1/1 sm-1/2 lg-1/3"
                     ng-repeat="service in ::vm.services track by service.id">

                    <ohs-service-card slug="{{ ::service.slug }}"
                                      title="{{ ::service.title }}"
                                      description="{{ ::service.lead }}"
                                      thumbnail-image-url="{{ ::service.thumbnail_url }}">
                    </ohs-service-card>

                </div>

            </div>

            <p class="tc mt- md-mt pv-">
                <a ui-sref="main.services.list" class="md-fz++ fwr">More of our design services</a>
            </p>

        </div>
    </div>

    <div class="pt+ pb-- bg--orange">
        <div class="wrapper">
            <h2 class="h3 mt0">
                Latest blog posts
            </h2>

            <div class="grid">
                <div class="grid-item 1/1 md-2/3 lg-1/2 mb">
                    <p class="md-fz++ fwr hn mb-">
                        We're often writing about projects, technology, process and findings.
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="grid-item 1/1 sm-1/2 lg-1/3"
                     ng-repeat="post in ::vm.posts track by post.id">

                    <ohs-blogpost-card slug="{{ ::post.slug }}"
                                       title="{{ ::post.title }}"
                                       category="{{ ::post.category_title }}"
                                       thumbnail-image-url="{{ ::post.thumbnail_url }}">

                    </ohs-blogpost-card>

                </div>
            </div>

            <p class="tc mb0 pv">
                <a ui-sref="main.blog.list" class="md-fz++ fwr">More from our broadcast media blog</a>
            </p>

        </div>

    </div>

    <div class="pt+">
        <div class="wrapper">
            <h2 class="h3 mt0">
                Latest Tweets
            </h2>

            <div class="grid">
                <div class="grid-item 1/1 md-2/3 lg-1/2 mb">
                    <p class="md-fz++ fwr hn mb-">
                        Our most recent posts on social media, collected, curated and managed by our latest product,
                            <a href="http://www.climb.social/"
                               title="Social media aggregation service"
                               class="fwr">climb.social</a>.
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="grid-item 1/1 sm-1/2 lg-1/3"
                     ng-repeat="it in vm.social track by it.id">

                    <ohs-social-card message="{{ ::it.message }}"
                                     url="{{ ::it.link }}"
                                     username="{{ ::it.author.username }}"
                                     profile-image-url="{{ ::it.author.picture }}"
                                     thumbnail-image-url="{{ ::it.image.url }}">
                    </ohs-social-card>

                </div>

                <div class="grid-item 1/1 sm-1/2 lg-1/3">

                    <a href="{{ ::vm.company.social.twitter.target }}"
                       title="@100shapes on Twitter"
                       class="box-round box-border card card--social card--social-cta tc">

                        <ohs-icon name="fill-twitter"
                                  class="fg--blue"></ohs-icon>
                        <h3 class="m0 card__description">Follow us on Twitter</h3>
                    </a>


                </div>
            </div>

        </div>

    </div>

</div>

