<div class="bg--blue pv+">
    <div class="wrapper">
        <h1>The UX broadcast media blog</h1>

        <ol class="list-inline">
            <li ng-repeat="category in ::vm.categories track by category.title">
                {{ ::category.title }}
            </li>
        </ol>

        <ol>
            <li ng-repeat="post in ::vm.posts track by post.id">

                <a href ui-sref="main.blog.post({ slug:post.slug })">

                    <h2>{{ post.title }}</h2>
                    <img src="{{ post.thumbnail_url }}" alt=""/>
                </a>

            </li>
        </ol>

        <ol class="list-bare">
            <li ng-repeat="category in ::vm.categories track by category.title">
                <h3>{{ ::category.title }}</h3>
                <p>{{ ::category.description }}</p>
            </li>
        </ol>


    </div>
</div>