@import "~css/vars";
@import "~Cardinal/base/mixins/to-rem";
@import "~css/mixins/transitions";

.ohs-global-masthead {
  .transition();
  width: 100%;
  height: auto;
  top: 0;
  position: fixed;

  color: @color-white;

  a {
    color: @color-white;
  }

  .btn {
    .transition(opacity);
    border: none;
    opacity: 0.75;
    margin-top: 3px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

}

//////////////////////////////////////
// Themes

.ohs-global-masthead--blue {
  background-color: @color-blue;

  &.ohs-off-canvas--open {
    background-color: @color-blue-dark !important;
  }
}

.ohs-global-masthead--orange {
  background-color: @color-orange;

  &.ohs-off-canvas--open {
    background-color: @color-orange-lighter !important;
  }
}

.ohs-global-masthead--fat.ohs-global-masthead--transparent {
  background-color: transparent;
  box-shadow: inset 0px 25px 27px -2px rgba(0,0,0,0.15);
}

.ohs-global-masthead--fat {
  .to-rem(padding-top, @spacing-base);
  .to-rem(padding-bottom, @spacing-base);
}

.ohs-global-masthead--thin {
  padding-top: 0;
  padding-bottom: 0;
}

//////////////////////////////////////
// Components

.ohs-global-masthead__logo {
  width: 12em;
  height: 2.5em;

  &:hover {
    color: @color-blue-dark;
  }

}

.ohs-global-masthead__cta--hidden {
  opacity: 0 !important;
}


.ohs-global-masthead .ohs-navmenu-button {
  top: 0;
  right: 0;
}


