@import "~css/vars";
@import "~Cardinal/base/mixins/to-rem";
@import "~css/mixins/transitions";
@import "~Cardinal/base/mixins/media-queries.less";

.ohs-global-masthead {
  .transition(background-color);
  .transition(padding);
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  color: @color-white;

  a {
    color: @color-white;
  }

  .btn {
    .transition(opacity);
    border: none;
    opacity: 0.75;
    margin-top: 3px;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }

  &.ohs-global-masthead--open {
    height: 100%;
    padding-bottom: 0 !important;
  }

}

//////////////////////////////////////
// Themes

.ohs-global-masthead--blue {
  background-color: @color-blue;

  &.ohs-global-masthead--open {
    background-color: @color-blue-dark !important;
  }
}

.ohs-global-masthead--orange {
  background-color: @color-orange;

  &.ohs-global-masthead--open {
    background-color: @color-orange-dark !important;
  }
}

.ohs-global-masthead--fat.ohs-global-masthead--transparent {
  background-color: transparent;
}

.ohs-global-masthead--fat,
.ohs-global-masthead--thin.ohs-global-masthead--open {
  .to-rem(padding-top, @spacing-base);
  .to-rem(padding-bottom, @spacing-base);
}

.ohs-global-masthead--thin {
  padding-top: 0;
  padding-bottom: 0;
}

//////////////////////////////////////
// Components

.ohs-global-masthead__logo {
  width: 193px;
  height: 37px;

  &:hover {
    color: @color-blue-dark;
  }

}

.ohs-global-masthead__cta--hidden {
  opacity: 0 !important;
}


.ohs-global-masthead .ohs-navmenu-button {
  top: 0;
  right: 0;
}

///////////////////////////////


.ohs-global-masthead__nav {
  clear: both;

  li {
    .to-rem(font-size, @font-size-xx-large);
  }
}




.ohs-global-masthead__nav__list--active {
  pointer-events: none;
  cursor: default;

  .ohs-global-masthead--blue & {
    color: @color-blue !important;
  }

  .ohs-global-masthead--orange & {
    color: @color-orange !important;
  }
}


