<div headroom
     classes="{
        pinned:    'ohs-global-masthead--pinned',
        unpinned:  'ohs-global-masthead--unpinned',
        top:       'ohs-global-masthead--fat',
        notTop:    'ohs-global-masthead--thin'
     }"
     ng-class="[
        vm.GlobalMastheadService.theme,
        {
            'ohs-global-masthead--open': vm.GlobalMastheadService.isOpen
        }
     ]"
     class="z2 ohs-global-masthead">


    <div class="wrapper">

        <a href
           ui-sref="main.home"
           class="fl pv--">
            <ohs-logo class="ohs-global-masthead__logo"></ohs-logo>
        </a>

        <a href
           ui-sref="main.blog.list"
           ng-if="vm.$state.includes('main.blog')"
           class="ohs-global-masthead__section-link fg--yellow ffs fsi pv-- ph- dn sm-dib">
            /blog
        </a>

        <a href
           ui-sref="main.services.list"
           ng-if="vm.$state.includes('main.services')"
           class="ohs-global-masthead__section-link fg--yellow ffs fsi pv-- ph- dn sm-dib">
            /services
        </a>

        <ohs-navmenu-button class="fr p- pr0 ml+"></ohs-navmenu-button>

        <a href="{{ vm.company.email.target }}"
           ga-track-event="['header-closed','make-contact', 'email']"
           class="btn btn-link pv- fr dn md-dib vam fwl"
           ng-class="{
                'vh': vm.GlobalMastheadService.isOpen
            }">
            <ohs-icon name="{{vm.company.email.icon_sm}}"
                      class="is-xs mr-"></ohs-icon>

            <span class="md-dn lg-dib xl-dn">
                Email Us
            </span>

            <span class="dn xl-dib">
                {{vm.company.email.address}}
            </span>

        </a>

        <a href="{{ vm.company.phone.target }}"
           ga-track-event="['header-closed','make-contact', 'phone']"
           class="btn btn-link pv- fr dn md-dib vam fwl"
           ng-class="{
                'vh': vm.GlobalMastheadService.isOpen
            }">
            <ohs-icon name="{{vm.company.phone.icon_sm}}"
                      class="is-xs mr-"></ohs-icon>

            <span class="md-dn lg-dib xl-dn">
                Call Us
            </span>

            <span class="dn xl-dib">
                {{vm.company.phone.number}}
            </span>
        </a>

    </div>

    <nav class="ohs-global-masthead__nav"
         ng-if="vm.GlobalMastheadService.isOpen">

        <ol class="list-reset tc">

            <li class="m+">
                <a href
                   ui-sref="main.home"
                   ui-sref-active="ohs-global-masthead__nav__list--active"
                   class="db lg-di">Home</a>
            </li>

            <li class="m+">
                <a href
                   ui-sref="main.services.list"
                   ui-sref-active="ohs-global-masthead__nav__list--active"
                   class="db lg-di">Services</a>
            </li>

            <li class="m+">
                <a href
                   ui-sref="main.blog.list"
                   ui-sref-active="ohs-global-masthead__nav__list--active"
                   class="db lg-di">Blog</a>
            </li>

        </ol>

    </nav>

    <ohs-contact location="off-canvas"
                 ng-if="vm.GlobalMastheadService.isOpen"></ohs-contact>

</div>