a {
  text-decoration: none;
  font-weight: @font-weight-regular;

  &:hover {
    text-decoration: underline;
  }
}

.bg--blue,
.bg--orange,
.bg--blue-dark {
  a {
    color: @color-yellow;
  }

  .btn {
    color:@color-white;
  }
}