.bg--orange {
    background-color: @color-orange;
}

.bg--blue {
    background-color: @color-blue;
}

.bg--blue-dark {
    background-color: @color-blue-dark;
}

.bg--white {
    background-color: @color-white;
}

.bg--black {
  background-color: @color-black;
}

.bg--yellow {
  background-color: @color-yellow;
}

.bg--grey-light {
  background-color: @color-gray-lightest;
}
