.bg--orange {
    background-color: @color-orange;
}

.bg--blue {
    background-color: @color-blue;
}

.bg--blue-dark {
    background-color: @color-blue-dark;
}

.bg--white {
    background-color: @color-white;
}

.bg--black {
  background-color: @color-black;
}

.bg--yellow {
  background-color: @color-yellow;
}

h1, h2, h3, h4
.h1, .h2, .h3, h4 {

    .bg--orange &,
    .bg--blue &,
    .bg--blue-dark & {
        color: @color-white;    
    }
    
}

.bg--orange,
.bg--blue,
.bg--blue-dark  {
    color: @color-white;
}

.bg--white {
    color: @root-text-color;

    h1, h2, h3, h4
    .h1, .h2, .h3, h4 {
      color: @root-text-color;
    }
}

.bg--overlay > *:first-child {
  position: relative;
  z-index: 2;
}

.bg--overlay {
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    top: 0;
  }
}


.bg--blue.bg--overlay::after {
   background-color: fade(@color-blue, 90%);
}
