.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  height: 380px;
  color: @root-text-color;
  background-color: @color-white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;

  text-decoration: none !important;
  margin-bottom: 20px;
  padding: 10%;

  &:after {
    .transition();
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    .to-rem(border-radius, @border-radius-base, ~"!important");
  }

  > * {
    z-index: 3;
  }
}



.card--2h {
  padding-bottom: 50% !important;
}

.card--blog {
  &:hover {
    &:after {
      background-color: fade(@color-orange, 75%);
    }
  }
}

.card--social {
  a {
    color: @color-yellow;
  }
}

.card--service {

  justify-content: space-between;

  .card__description {
   .transition(opacity);
    color: @color-white;
    opacity: 0;
  }

  &:hover {
    .card__description {
      opacity: 1;
    }

    &:after {
      background-color: fade(@color-blue-dark, 75%);
    }
  }

  
}

.card__title {
  color: @color-white;
  .transition();

  .card--blog & {
    color: @color-white;
    margin: 0;
  }
}

.card__content {
  z-index: 3;

  color: @color-white;

  .card--social & {
    color: @root-text-color;
  }
}



.card__title.h3 {
  text-decoration: underline;
}
