.fg--orange {
    color: @color-orange;
}

.fg--blue {
    color: @color-blue;
}

.fg--blue-dark {
    color: @color-blue-dark;
}

.fg--white {
    color: @color-white;
}

.fg--black {
    color: @color-black;
}

.fg--yellow {
    color: @color-yellow;
}
