hr {
  margin: 0 auto;
  border-width: 2px;

  &.blue {
    border-color: @color-blue;
  }

  &.white {
    border-color: @color-white;
  }

  &.dotted {
    border-style: dotted;
  }

  &.dark-blue {
    border-color: @color-blue-dark;
  }

  &.left {
    margin-left: 0;
  }

}


.bg--blue hr {
  border: 1px solid @color-white;
}
